/bin/*
/build/c++builder-10.3/*.local
/build/c++builder-10.3/*.res
/build/vs19/.vs
/build/vs19/packages
/build/vs19/*.user
/tools/doxygen/html
/tools/doxygen/latex
/src/*.aps
/temp/*
/tools/deployment/*.tgz
/tools/deployment/*.zip
